:root {
    --primary-color: #ffc130;
    --second-color: #ffd342;
    --font-color: #2f2f2f;
    --background-color: #fff8e8;
    --box-color: #ffffff;
    --mbl-font-size: 17px; 
}

* {
    font-family: Tahoma;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: var(--mbl-font-size);
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Header */
.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.header__logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: var(--font-color);
}

.menu {
    display: inline-block;
}

.menu__bar {
    background-color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.menu__list {
    display: none;
    position: absolute;
    width: 150px;
    padding: 10px;
    right: 10%;
    list-style-type: none;
    z-index: 1;
    background-color: rgba(255, 246, 237, 0.99);
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.menu__list .menu__item {
    display: block;
    padding: 10px 0;
}

.menu__list .menu__item a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: var(--font-color);
    border-radius: 10px;
}

.menu__list .menu__item #on-menu {
    font-weight: bold;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.99);
}

.menu:focus-within .menu__list {
    display: block;
}

/* Content */
.container {
    min-height: 100vh;
}

    /* Container__hero */
.container__hero {
    padding: 50px 30px;
    text-align: center;
    background-color: var(--second-color);
}

.container__title {
    font-size: 38px;
}

    /* About */
.about {
    padding: 30px;
}

.about__box {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: var(--box-color);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.about__title {
    font-size: 22px;
    color: var(--primary-color);
}

/* Footer */
.footer {
    padding: 5px;
    background-color: var(--primary-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.1);
}

.footer__text {
    text-align: center;
}

@media only screen and (min-width: 992px) {
    :root {
        --dsk-font-size: 18px; 
    }

    body {
        font-size: var(--dsk-font-size);
    }

    /* Header */
    .header {
        justify-content: flex-end;
        padding: 30px 10%;
    }

    .header__logo {
        margin-right: auto;
        font-size: 24px;
    }

    .menu {
        display: inline;
    }

    .menu__bar {
        display: none;
    }

    .menu__list {
        display: inline;
        position: static;
        width: 100%;
        padding: 0;
        background-color: transparent;
    }

    .menu__list .menu__item {
        display: inline;
    }

    .menu__list .menu__item a {
        display: inline;
        margin-right: 15px;
        padding: 15px;
        transition: all 0.2s ease;
    }

    .menu:focus-within .menu__list {
        display: inline;
    }

    .menu__list .menu__item a:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

    /* Content */
    .container {
        min-height: 100vh;
    }

        /* Container__hero */
    .container__title {
        font-size: 40px;
    }

        /* About */
    .about {
        padding: 50px 20%;
    }

    .about__box {
        padding: 45px;
    }

    .about__title {
        font-size: 24px;
    }

    /* Footer */
    .footer {
        padding: 10px;
    }
}