:root {
    --primary-color: #ffc130;
    --background-color: #fff8e8;
}

.data-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.data-container .data-item {
    padding: 20px;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}

.data-item .data-icon {
    width: 45px;
    height: 80px;
    float: left;
    margin-right: 10px;
    font-size: 30px;
}

.data-item .data-title {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

h3~div {
    margin-top: 25px;
}

@media only screen and (min-width: 992px) {
    .data-container .data-item {
        display: inline-block;
        transition: transform 0.4s ease;
    }
    
    .data-item .data-icon {
        height: auto;
        font-size: 32px;
    }

    .data-item .data-title {
        font-size: 20px;
    }

    .data-container .data-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    }
}